* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $azulmedio;
        width: 100vw;
        height: 100vh;
        font-family: sans-serif;
        letter-spacing: 0.03em;
        line-height: 1.6;

}
.pagprincipal{
    background-image: url(../css/Imagenes/idea2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
