header {
    width: 100vw;
    height: 150px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    display: flex;
    opacity: 1;

    .nav {
        @media (min-width:767px) {
            width: 800vw;
        }
    }

    .brand {
        font-size: 52px;
        color: $claro;
        font-family: 'Bad Script', cursive;

        @media (max-width:767px) {
            font-size: 1em;
        }
    }

    .brand1 {
        font-size: 52px;
        color: $claro;
        font-family: 'Bad Script', cursive;

        @media (max-width:767px) {
            font-size: 1em;
        }
    }

    .brand2 {
        font-size: 52px;
        color: $azuloscuro;
        font-family: 'Bad Script', cursive;

        @media (max-width:767px) {
            font-size: 1em;
        }
    }

    .ul {
        list-style-type: none;

    }

    a.nav-link {
        color: white;
        font-weight: lighter;
        font-size: 12px;
    }

    .navbar-nav .nav-link.active {
        color: aqua;
        font-weight: bold;
    }


    a {
        text-decoration: none;


        &:hover {
            font-weight: bold;
            text-decoration: solid;
            border-radius: 5px;
            color: $naranja;
        }
    }

    @media (max-width:767px) {
        flex-wrap: wrap;
        font-size: 1em;
        padding: 4px;
    }

}